.application_header {
  display: flex;
  background-color: #23856d;
  color: #fff;
  padding: 16px 32px;
  justify-content: space-between;
  width: 100%;
  box-shadow: none;
}

.flexify{
  display: flex;
}