/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/components/shared/header.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.header_application_header__Zz0nQ {
  display: flex;
  background-color: #23856d;
  color: #fff;
  padding: 16px 32px;
  justify-content: space-between;
  width: 100%;
  box-shadow: none;
}

.header_flexify__kpb10{
  display: flex;
}
